<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beau's Tech Blog</title>
  <!-- Latest compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Beaus Tech Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{!-- <li class="nav-item active">
          {{name}}
          {{user.email}}
          {{user.name}}
          {{note}}
          <a class="nav-link" href="#" type="submit" id="userName">{{user.name}}</a>

        </li> --}}
        <li class="nav-item">
          {{#if logged_in}}

          {{!-- {{#if user.name}} --}}
          {{!-- {{#each user }} --}}

          {{!-- {{/each}} --}}
          {{!-- {{/if}} --}}
          <a class="nav-link" href="#" type="submit" id="logOutBtn">Log Out</a>

          {{else}}
          {{!-- <a class="nav-link" href="#" id="logInBtn">Log In</a> --}}
          {{/if}}
        </li>

      </ul>
    </div>
  </nav>

  {{#if logged_in}}
  {{{body}}}
  {{else}}
  <div id="signUpLoginDiv">
    <div id="signUpPart">
      {{>signUp}}

    </div>

    <div id="loginPart">
      {{>login}}


    </div>
  </div>
  </div>
  <div id="noteDisplay">
    {{#if notes.length}}

    {{#each notes as |note|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{note.title}}</h4>
        <p>{{note.text}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{note.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{req.session.user_id}}
  {{/if}}
  {{/if}}



  <script src="/js/index.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/deleteNote.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  {{!--

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> --}}



</body>

</html>