<form class="form login-form" id="mainBody">
    <div class="col" type="submit" id="main">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="input" class="form-control" id="noteTitleInput" placeholder="Enter Note Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Text Body</label>
            <textarea class="form-control" id="noteTextInput" rows="3" placeholder="Enter Note Text"></textarea>
        </div>
        <button id="save">Save</button>
    </div>

    {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" type="submit" data-id="{{note.id}}">DELETE</button>
    </div> --}}

</form>
<br><br>
<div id="noteBody" class="deleteBtn">
    {{#if notes.length}}
    {{#each notes as |note|}}
    {{note.title}}<br>
    {{note.text}}
    <form class="col-md-4">
        <button class="btn btn-sm btn-danger " type="submit" data-id="{{note.id}}">DELETE</button>
    </form>
    <br><br>
    {{/each}}
    {{/if}}
</div>
{{!--
{{#if notes.length}}

{{#each notes as |note|}}
<div class="row mb-2">
    <div class="col-md-8">
        <h4>{{note.title}}</h4>
        <p>{{note.text}}</p>
    </div>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{note.id}}">DELETE</button>
    </div>
</div>
{{/each}}
</div>
{{/if}} --}}